<div class="h-screen">
    <div class="team-container container" id="equipo">
        <h3 class="text-7xl font-black mb-3 text-red-600">Conoce nuestro equipo</h3>
        <p class="text-2xl text-zinc-400 mb-5">"Descubre el corazón detrás de nuestro éxito: conoce al equipo que hace posible cada logro y da vida a nuestra visión."</p>
        <div class="team-member-container">
            <div class="team-member-item">
                <img src="/assets/user.jpg" alt="imagen de usuario">
                <div class="member-info">
                    <h4>Manuel Huaman</h4>
                    <h5>Job title</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                    <div class="member-social">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
            </div>

        </div>
      </div>
</div>
